

body {
	background-color: #eceeff !important;
}
#card-container {
	.single-contact-card {
		padding: 0;
		span {
			display: block;
		}
	}
	.all-cards-wrap {
		margin-top: 4%;
		.single-contact-card .card-wrap {
			height: 200px;
			margin: 2px auto 2px auto;
			background-color: white;
			overflow: hidden;
			border: 1px solid #e2e2e2;
			padding: 7px;
			.icon-image {
				width: 37px;
				height: 37px;
				background: transparent;
				border-radius: 17px;
				margin-top: -41px;
				margin-left: 4px;
			}
			.profile-image {
				margin: 0 auto;
				display: block;
				height: auto;
				width: 110px;
				position: relative;
			}
		}
		.card-wrap .text-under-img {
			width: 111px;
			margin: 22px auto 0 auto;
			font-size: 6pt;
			text-align: left;
			position: relative;
			.full-name {
				font-weight: bold;
				font-size: 8pt;
			}
			.hidden-text {
				display: none;
				margin-top: 8px;
			}
		}
		.card-wrap-hover .text-under-img {
			background-color: #ffffff;
			margin-top: -46px;
			height: 87px;
			padding-top: 21px;
			animation-name: example;
			animation-duration: 4s;
		}
	}
	.top-cards-line {
		background-color: white;
		h2 {
			display: inline;
			float: left;
		}
		.search-input {
			width: 260px;
			float: right;
			margin: 2%;
		}
	}
}
@media screen and(max-width: 767px) {
	#card-container .top-cards-line {
		h2 {
			float: none;
		}
		.search-input {
			float: none;
			margin: 2% auto 2% auto;
		}
	}
}